@using Biz
@using DataAccess.Dto
@model DataAccess.Entity.UserProfile

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserProfile</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Profile" class="control-label"></label>
				<input asp-for="Profile" class="form-control" />
				<span asp-validation-for="Profile" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="FirstName" class="control-label"></label>
				<input asp-for="FirstName" class="form-control" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LastName" class="control-label"></label>
				<input asp-for="LastName" class="form-control" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<input type="hidden" asp-for="Picture" />
			<div class="form-group">
				<img class="img-fluid w-25 p-3" src="@Url.Action("RenderPhoto", "MediaHelper", new { imageType = Constants.RenderProfileImage , id = UserData.UserProfileId })" alt="alt Image" /><br />
				<label asp-for="Picture">Upload picture</label><br />
				<input type="file" name="file" />
				@*<span asp-validation-for="Picture" class="text-danger"></span>*@
			</div>
			<div class="form-group">
				<label asp-for="Blurb" class="control-label"></label>
				<input asp-for="Blurb" class="form-control" />
				<span asp-validation-for="Blurb" class="text-danger"></span>
			</div>
			<input asp-for="UserId" class="form-control" />
			<select hidden="hidden" asp-for="FamilyId" class="form-control" asp-items="ViewBag.FamilyId"></select>
			<input hidden="hidden" asp-for="PictureContentType" class="form-control" />
			<input hidden="hidden" asp-for="Picture" class="form-control" />
			<input hidden="hidden" asp-for="CreatedOn" class="form-control" />
			<input hidden="hidden" asp-for="CreatedBy" class="form-control" />
			<input hidden="hidden" asp-for="UpdatedOn" class="form-control" />
			<input hidden="hidden" asp-for="UpdatedBy" class="form-control" />
			<div class="form-group">
				<br />
				<div class="row">
					<div class="col-md-6">
						<input type="submit" value="Save" class="btn btn-success col-md-12" />
					</div><br /><br />
					<div class="col-md-6">
						<a class="btn btn-warning col-md-12" asp-action="Index" asp-controller="Home">Back</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>



@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
